.card {
    position: relative;
}
.card img {
    width: 100%;
    display: block;
    border: 3px solid rgb(196, 221, 241);
    border-radius:  6px;
}

/* Front of Card - the image */

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

/* Back of card - Cover. */
.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}
.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}